body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    width: 90%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

input[type="submit"] {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    min-width: 80%;
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
    word-wrap: break-word; /* Ensures words break to prevent overflow */
}

#result table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#result th, #result td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: normal; /* Allows text to wrap to the next line */
    overflow-wrap: break-word; /* Allows long words to be broken and wrapped to the next line */
}

#result th {
    background-color: #f2f2f2;
}

#result tr:nth-child(even) {
    background-color: #f9f9f9;
}
