<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF CV Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>PDF CV Analyzer</h1>

        <!-- Section 1: Extract Data -->
        <h2>Extract Data</h2>
        <form id="extractForm" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" required>
            <button type="submit" style="margin-top: 0.8rem;">Extract Data</button>
        </form>
        <div id="extractedData"></div>

        <!-- Section 2: Analyze CV -->
        <h2>Analyze CV</h2>
        <form id="analyzeForm" enctype="multipart/form-data">
            <textarea id="jobDescription" name="job_description" placeholder="Paste required sills here..."
                required></textarea>
            <input type="file" id="resumeInput" name="file" required>
            <button type="submit" style="margin-top: 0.8rem;">Analyze CV</button>
        </form>
        <div id="analysisResult"></div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>
